<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
    <h1>
        Homepage
    </h1>
    <section>
        <iframe src="https://www.youtube.com/watch?v=Vv6pfvX6PV8" frameborder="0" width="400" height="250"></iframe>
    </section>
</body>

</html>